<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title data-th-text="#{spittle.title} + ' ' + ${spittle.id}">Spittle 154</title>
    </head>
    <body>
        <table> 
            <tbody>
                <tr>
                    <td data-th-text="#{spittle.id}">ID</td>
                    <td data-th-text="${spittle.id}">123</td>
                </tr>
                <tr>
                    <td data-th-text="#{spittle.message}">Message</td>
                    <td data-th-text="${spittle.message}">Hello</td>
                </tr>
                <tr>
                    <td data-th-text="#{spittle.date}">Date</td>
                    <td data-th-text="${spittle.date}">25.05.2005</td>
                </tr>
                <tr>
                    <td data-th-text="#{spittle.latitude}">Latitude</td>
                    <td data-th-text="${spittle.latitude}" >12</td>
                </tr>
                <tr>
                    <td data-th-text="#{spittle.longitude}">Longitude</td>
                    <td data-th-text="${spittle.longitude}">54</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
